<div class="Navbar">
    <div class="Navbar-Link Navbar-Link-toggle">
        <i (click)="clickMenu()" class="fas fa-bars"></i>
    </div>
    <nav class="Navbar-Items">
        <div class="Navbar-Link">
            <a class="brand" routerLink="/home" routerLinkActive="active-link">Home</a>
        </div>
        <div class="Navbar-Link">
            <a class="brand" routerLink="/movies" routerLinkActive="active-link">Movies</a>
        </div>
        <div class="Navbar-Link">
            <a class="brand" routerLink="/series" routerLinkActive="active-link">Series</a>
        </div>
        <div class="Navbar-Link">
            <a class="brand" routerLink="/favorite" routerLinkActive="active-link">Favorites</a>
        </div>
        <div class="Navbar-Link">
            <a class="brand" routerLink="/search" routerLinkActive="active-link">Search</a>
        </div>
    </nav>
    <nav class="Navbar-Items Navbar-Items--right">
        <div class="Navbar-Link">
            <a class="brand" (click)="logout()">Logout</a>
        </div>
    </nav>
</div>