<nav>
    <div class="hamburger">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
    <ul class="nav-links">
        <li><a routerLink="/home">Home</a></li>
        <li><a routerLink="/favorite">Favorites</a></li>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Categories
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="/home">Popular</a>
                <a class="dropdown-item" href="#">Top Rated</a>
                <a class="dropdown-item" routerLink="/movies">Movies</a>
                <a class="dropdown-item" routerLink="/series">Series</a>
            </div>
        </div>
        <li><a routerLink="/search">Search</a></li>
    </ul>
</nav>