nav {
    height: 10vh;
    background: #4F646F;
    // margin-bottom: 10px;
    .nav-links {
        display: flex;
        width: 50%;
        list-style: none;
        height: 100%;
        justify-content: space-around;
        align-items: center;
        // margin-left: auto;
        button {
            background: #4F646F;
            border: none;
            font-weight: bold;
        }
        .btn-secondary.focus,
        .btn-secondary:focus {
            -webkit-box-shadow: none!important;
            box-shadow: none!important;
        }
        .dropdown-menu {
            font-size: 13px;
        }
        li a {
            color: white;
            text-decoration: none;
            font-size: 16px;
            font-weight: bold;
        }
    }
}

@media screen and (max-width: 768px) {
    .line {
        width: 30px;
        height: 3px;
        background: white;
        margin: 5px;
    }
    nav {
        position: relative;
    }
    .hamburger {
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
    }
    .nav-links {
        position: fixed;
        background: #4F646F;
        flex-direction: column;
        display: none;
        height: 20vh;
        width: 100%;
    }
}