.movie-details {
    // width: 80%;
    padding-top: 20px;
    background: #e8ecef;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
        border-radius: 0px;
    }
    .card {
        border-radius: 0px;
        width: 60%;
        .card-body {
            font-weight: bold;
            button {
                border-radius: 0px;
            }
            .card-text {
                font-size: 13px;
            }
        }
    }
}