.login {
    .main,
    .illustration {
        // visibility: hidden;
        margin-top: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .illustration {
        img {
            margin-top: 50px;
            width: 200px;
            margin: 0 auto;
        }
    }
    .container {
        margin-top: 20px;
        .row {
            display: flex;
            align-items: center;
            justify-content: center;
            button {
                border-radius: 0px;
                width: 20em;
                margin-bottom: 10px;
            }
        }
    }
    #sign-up {
        font-size: 12px;
        a {
            color: black;
            font-weight: bold;
        }
    }
}