<div class="sign-up">
    <div class="card" style="width: 25rem;">
        <div class="card-body">
            <h6 class="card-title"><a routerLink="/"><span><i class="fas fa-long-arrow-alt-left"></i></span> Go Back</a></h6>
            <h3 class="card-title">Sign Up</h3>
            <form [formGroup]="signupForm">
                <div class="form-row mb-3">
                    <div class="form-group">
                        <input type="email" placeholder="Email" formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors}" class="form-control">
                        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                            <div *ngIf="f.email.errors.required">Email is required</div>
                            <div *ngIf="f.email.errors.pattern">Input a valid email</div>
                        </div>
                    </div>
                </div>
                <div class="form-row mb-3">
                    <div class="form-group">
                        <input type="password" placeholder="Password" formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors}" class="form-control">
                        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                            <div *ngIf="f.password.errors.required">Password is required</div>
                            <div *ngIf="f.password.errors.min">Password should be at least 6 characters</div>
                        </div>
                    </div>
                </div>
                <button type="submit" (click)="signUp()" class="btn btn-info sm">Submit</button>
            </form>
        </div>
    </div>
</div>