.container {
    margin-top: 20px;
    margin-bottom: 10px;
    input {
        border: none;
        border-bottom: 2px solid black;
        border-radius: 0px;
        font-size: 13px;
    }
    input.focus,
    input:focus {
        -webkit-box-shadow: none!important;
        box-shadow: none!important;
    }
    button {
        border-radius: 0px;
    }
}

.movies {
    .row {
        margin: 0px 30px;
        .column {
            width: 200px;
            height: 300px;
            margin-left: 10px;
            margin-bottom: 100px;
            a {
                color: black;
            }
            .card {
                img {
                    width: 199px;
                    height: 250px;
                    border-radius: 0px;
                }
                h5 {
                    font-size: 12px;
                    font-weight: bold;
                }
                .card-body {
                    height: 60px;
                }
            }
        }
    }
}