<div class="row">
    <div class="column" id="left">
        <div class="main">
            <h1>Welcome to Netflix</h1>
        </div>
        <div class="sub">
            <h3>Sit back, Relax & Chill</h3>
        </div>
    </div>
    <div class="column" id="right">
        <nav>
            <div class="hamburger">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
            <ul class="nav-links">
                <li><a routerLink="/movies">LOGIN</a></li>
            </ul>
        </nav>

    </div>

</div>